@import "tailwindcss";

@font-face {
  font-family: dana-regular;
  src: url(assets/fonts/DanaFaNum-Regular.woff);
}
:root {
  box-sizing: border-box;
  font: dana-regular !important;
}
@theme {
  --color-yelloMain: #ffc451;
  --color-grey-btn: rgb(52, 58, 64);
}
